@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .loginresize {
    width: 80% !important;
    gap: 10px !important;
  }
  .boxrememberforgot {
    flex-direction: column !important;
  }
  .labelforgotpassword {
    justify-content: flex-start !important;
  }
  .noaccountsignup {
    flex-direction: row !important;
  }
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  .boxrememberforgot {
    flex-direction: row !important;
  }
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 750px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1024px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
