@media (min-width: 0px) {
  /* #footer {
    position: absolute;
    bottom: 0;
  } */
}

@media (min-width: 320px) {
}

@media (min-width: 480px) {
}

@media (min-width: 600px) {
  #searchForexHome {
    width: 400px !important;
  }
  #searchandfilterForex {
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center;
  }
  #filterForexHome {
    width: 100px !important;
    padding-top: 20px !important;
  }
}

@media (min-width: 750px) {
  #searchForexHome {
    width: 600px !important;
  }

  #forex-content {
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }
  #forex-card-box-new {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 1.5rem;
  }
}

@media (min-width: 1024px) {
  #searchandfilterForex {
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center;
  }
  #filterForexHome {
    width: 100px !important;
    padding-top: 20px !important;
  }
}
@media (min-width: 1281px) {
}

.up {
  color: lime;
}

.down {
  color: red;
}

.neutral {
  color: white;
}

.MuiTypography {
  font-family: "Bree Serif" !important;
}

#test {
  font-family: "Bree Serif" !important;
}

#main-container-forexHome {
  padding-bottom: 25px;
  width: 99.2vw !important;

  overflow-x: hidden !important;
}
