#main-indictor-container {
  display: flex;
  flex-direction: row;
  height: max-content;
  width: 200px;
  margin-left: 40px;
}

.gauge-chart1 {
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  justify-content: space-between;
  padding: 0.6rem 0.1rem;
  margin: 0 0.6rem;
  height: 20vh;
}

.gauge-chart2 {
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  justify-content: space-between;
  margin: 0rem 0.3rem;
  height: 15vh;
}

#summary {
  background-color: white;
  /* change to blue later */
  height: 38vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#sub-summary {
  background-color: yellowgreen;
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sub-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.sub-summary2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  padding: 0;
  background-color: white;
}

#centergauge {
  border-left: 0.15rem solid black;
  border-right: 0.15rem solid black;
  padding: 0 0.8rem;
}

.textgauge {
  margin: 0 0.7rem;
  display: block;
  position: relative;
}

.textgauge .hover {
  visibility: hidden;
  height: 0;
  position: absolute;
}

.textgauge:hover .hover {
  visibility: visible;
  background-color: black;
  border-radius: 0.5rem;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.7rem;
  padding: 0.1rem;
  transform: translate(-40px, -90px);
  height: fit-content;
  position: absolute;
  z-index: 100;
  width: 200px;
}
#subcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 20vw;
}

.bearish {
  color: rgb(218, 78, 53);
  text-align: center;
}

.neutral {
  color: rgb(174, 183, 209) !important;
  text-align: center;
}

.bullish {
  color: rgb(126, 211, 33);
  text-align: center;
}

.rowgauge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 30px;
}

.row2gauge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.8rem;
  height: 35px;
}

.row3gauge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
  height: 10px;
}

.hrline {
  margin: 0 0.9rem;
}

@media (max-width: 1600px) {
  #summary {
    /* display: inline-block !important; */
    height: 41.5vh;
    width: 400px;
    padding: 0 1rem;
  }
}

@media (max-width: 1082px) {
  #summary {
    /* display: inline-block !important; */
    height: 41.5vh;
    width: 400px;
    padding: 0 1rem;
  }
}

@media (max-width: 780px) {
  #main-indictor-container {
    width: inherit !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
  }
  #summary {
    /* display: inline-block !important; */
    height: 52vh;
    width: 400px;
    padding: 0 1rem;
  }
}

@media (max-width: 540px) {
  #main-indictor-container {
    width: inherit !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
  }
  #summary {
    /* display: inline-block !important; */
    height: 52vh;
    width: 500px;
    padding-right: 1rem;
  }
  .gauge-chart1 {
    color: blue !important;
    height: 400px !important;
  }

  .gauge-chart2 {
    color: blue !important;
    height: 300px !important;
  }
}

@media (max-width: 425px) {
  #main-indictor-container {
    width: inherit !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
  }
  #summary {
    /* display: inline-block !important; */
    height: 43vh;
    padding-right: 3.5rem;
  }
  /* .gauge-chart1 {
    color: blue;
    height: 200px;
  } */
}

@media (max-width: 375px) {
  #main-indictor-container {
    width: inherit !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
  }
  #summary {
    /* display: inline-block !important; */
    height: 45vh;
    padding-right: 3.5rem;
  }
}

@media (max-width: 350px) {
  #main-indictor-container {
    width: inherit !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
  }
  #summary {
    /* display: inline-block !important; */
    height: 42vh;
    padding-right: 3rem;
  }
  /* .gauge-chart1 {
    color: blue;
    height: 200px;
  } */
}

@media (max-width: 320px) {
  #main-indictor-container {
    width: inherit !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
  }
  #summary {
    /* display: inline-block !important; */
    height: 45vh;
    margin: 0 2rem;
  }
}
