body {
  margin: 0;
}

.main-container-details {
  /* height: 100%; */
  height: 100%;
}
.title {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
}

.content {
  background-color: #f6f8fb;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* ========== Content Title ============ */

.content-title-details {
  display: flex;
  margin: 1em;
  justify-content: space-evenly;
}
.company-name {
  font-size: 19px;
  font-weight: 800;
}
.company-box {
  align-items: center;
  display: flex;
  font-size: medium;
  font-weight: 400;
}
.icon-company {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 1em;
}

.currency-price {
  font-size: large;
  font-weight: 100;
  padding-right: 0.5em;
}

.currency {
  font-weight: 800;
  padding-right: 0.5em;
}
.currency-price {
  font-size: large;
  font-weight: 500;
  padding-right: 0.5em;
}
.currency-volatality {
  font-weight: 200;
}

.content-title-left {
  display: flex;
}
.content-title-right-icon {
  display: flex;
  width: 12.5vw;
  padding-left: 3em;
}

@media (min-width: 768px) {
  .content-title-details {
    justify-content: flex-start;
  }
}

@media (min-width: 1024px) {
  .content-title-details {
    margin: 2em 0 2em 2em;
    justify-content: flex-start;
  }
}
