@media (min-width: 0px) {
  #typewrite {
    font-family: "League Spartan";
    font-size: 3rem;
    font-weight: 700;
    color: white;
  }
  #firstsection {
    background: linear-gradient(235deg, #ffffff 0%, #000f25 100%),
      linear-gradient(180deg, #184d47 0%, #000000 100%),
      linear-gradient(
        235deg,
        #317257 0%,
        #317257 40%,
        #081a18 calc(40% + 1px),
        #081a18 60%,
        #164645 calc(60% + 1px),
        #164645 70%,
        #317257 calc(70% + 1px),
        #317257 100%
      ),
      linear-gradient(
        125deg,
        #317257 0%,
        #317257 40%,
        #081a18 calc(40% + 1px),
        #081a18 60%,
        #164645 calc(60% + 1px),
        #164645 70%,
        #317257 calc(70% + 1px),
        #317257 100%
      );
    background-blend-mode: soft-light, screen, darken, normal;
  }

  #fourthsection {
    background: linear-gradient(
      45deg,
      #184d47 3%,
      #184d47 90%,
      #164645 calc(40% + 1px),
      #164645 93%,
      rgb(23, 185, 120) calc(60% + 1px),
      rgb(23, 185, 120) 96%,
      #cff4d2 calc(68% + 1px),
      #cff4d2 100%
    );
  }

  #signUpButton1 {
    display: none;
  }

  #dashPic1 {
    display: none;
  }
  #cryptoButton1 {
    display: none;
  }
  #smartmockup {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/public/smartmockup.png");
  }
  #dashPic5 {
    display: none;
  }
  #dashPic6 {
    display: none;
  }
  #forexButton3 {
    display: none;
    width: 400px;
    height: 55px !important;
  }
  #cryptoButton3 {
    display: none;
    width: 400px;
    height: 55px !important;
  }
  #forexTrackingDesc {
    display: flex;
    justify-content: center;
  }
  #cryptoTrackingDesc {
    display: flex;
    justify-content: center;
  }
  #forexBox {
    text-align: center;
  }
  #cryptoBox {
    text-align: center;
  }
  #dashPic4 {
    display: initial;
    background-image: url("../../../public/cryptoHome1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #184d47;
    border-radius: 0.5rem;
  }
  #dashPic2 {
    background-image: url("../../../public/forexHome1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #184d47;
    border-radius: 0.5rem;
  }
}

@media (min-width: 320px) {
  #signUpButton1 {
    display: none;
  }

  #dashPic1 {
    display: none;
  }

  #cryptoButton1 {
    display: none;
  }
  #forexFeatureExplanation1 {
    font-size: 1.2rem !important;
  }
  #cryptoFeatureExplanation1 {
    font-size: 1.2rem !important;
  }
}

@media (min-width: 480px) {
  #signUpButton1 {
    display: none;
  }

  #dashPic1 {
    display: none;
  }

  #cryptoButton1 {
    display: none;
  }
  #firstsection {
    height: 750px !important;
  }
  #typographyBox1 {
    width: 440px;
  }
  #typewrite {
    font-size: 3.5rem;
  }
  #sentence2 {
    font-size: 2.5rem;
  }
  #sentence3 {
    font-size: 1.2rem !important;
    width: 250px;
  }
  #sentence4 {
    width: 220px;
    font-size: 2rem;
  }
  #pictureBox1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #smartmockup {
    width: 400px !important;
    height: 300px !important;
  }
  #signUpButton2 {
    width: 400px !important;
    height: 50px !important;
    font-size: 1.2rem !important;
  }
  #secondsection {
    height: 2400px !important;
  }
  #forexExplanation {
    width: 400px;
    font-size: 1.1rem !important;
  }

  #dashPic2 {
    width: 400px !important;
    height: 300px !important;
  }
  #forexButton2 {
    width: 400px !important;
    height: 50px !important;
    font-size: 1.2rem !important;
  }

  #cryptoExplanation {
    width: 400px;
    font-size: 1.1rem !important;
  }
  #dashPic4 {
    display: initial;
    width: 400px !important;
    height: 300px !important;
    background-image: url("../../../public/cryptoHome1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #184d47;
    border-radius: 0.5rem;
  }
  #cryptoButton2 {
    width: 400px !important;
    height: 50px !important;
    font-size: 1.2rem !important;
  }
}

@media (min-width: 600px) {
  #signUpButton1 {
    display: none;
  }

  #dashPic1 {
    display: none;
  }

  #cryptoButton1 {
    display: none;
  }
  #firstsection {
    height: 810px !important;
  }
  #typewrite {
    font-size: 4rem;
  }
  #sentence2 {
    font-size: 3rem;
  }
  #sentence3 {
    width: 300px;
    font-size: 1.5rem !important;
  }
  #sentence4 {
    width: 300px;
    font-size: 2.5rem !important;
  }
  #smartmockup {
    width: 400px !important;
    height: 300px !important;
  }
  #signUpButton2 {
    width: 400px !important;
    height: 50px !important;
    font-size: 1.5rem !important;
  }
  #forexTitle {
    font-size: 4rem;
  }
  #forexExplanation {
    width: 400px;
    font-size: 1rem !important;
  }

  #forexButton2 {
    width: 400px !important;
    height: 50px !important;
    font-size: 1.5rem !important;
  }

  #dashPic2 {
    width: 400px !important;
    height: 300px !important;
  }
  #cryptoTitle {
    font-size: 4rem;
  }
  #cryptoExplanation {
    width: 400px;
    font-size: 1rem !important;
  }
  #cryptoButton2 {
    width: 400px !important;
    height: 50px !important;
    font-size: 1.5rem !important;
  }
  #dashPic4 {
    width: 400px !important;
    height: 300px !important;
    background-image: url("../../../public/cryptoHome1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #184d47;
    border-radius: 0.5rem;
  }
}

@media (min-width: 750px) {
  #firstsection {
    height: 600px !important;
  }
  #pictureBox1 {
    justify-content: center;
  }
  #signUpContent {
    text-align: start;
    flex-direction: row !important;
  }
  #typographyBox1 {
    width: initial;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
  }
  #typewrite {
    font-size: 3.5rem;
  }
  #sentence2 {
    font-size: 2.5rem;
  }
  #sentence3 {
    width: 270px;
    font-size: 1.3rem !important;
  }

  #smartmockup {
    height: 315px !important;
    width: 400px !important;
    margin-top: 100px;
  }
  #signUpBox {
    padding-top: 70px !important;
  }

  #signUpButton1 {
    display: initial;
  }
  #signUpButton2 {
    display: none;
  }

  #secondsection {
    height: 2000px !important;
  }
  #divider1 {
    padding: 25px !important;
  }
  #forexAndDashboard {
    flex-direction: row !important;
  }
  #forexBox {
    text-align: center;
  }

  #forexTitle {
    padding-left: 25px !important;
  }
  #forexExplanation {
    padding-left: 25px !important;
    width: 400px;
    margin: 0;
  }
  #forexTrackingDesc {
    display: flex;
    justify-content: center;
  }

  #forexContentBox {
    width: 550px;
  }

  #forexButton2 {
    display: none;
  }
  #dashPic5box {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }
  #dashPic5 {
    height: 315px !important;
    width: 550px !important;
    display: initial;
    background-image: url("../../../public/forexHome1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #184d47;
    border-radius: 0.5rem;
  }
  #forexButton3Box {
    padding-top: 30px;
    display: flex;
    justify-content: center;
  }
  #forexButton3 {
    display: initial;
    width: 400px;
    height: 55px !important;
  }
  #dashPic1 {
    display: none;
    height: 250px !important;
  }
  #dashPic2 {
    display: none;
  }

  #cryptoAndDashboard {
    padding-top: 50px !important;

    flex-direction: row !important;
  }
  #cryptoBox {
    text-align: center;
  }
  #cryptoTitle {
    padding-left: 25px !important;
  }
  #cryptoExplanation {
    padding-left: 25px !important;
    width: 400px;
    margin: 0;
  }
  #cryptoTrackingDesc {
    display: flex;
    justify-content: center;
  }
  #cryptoContentBox {
    width: 550px;
  }
  #cryptoButton3Box {
    padding-top: 30px;
    display: flex;
    justify-content: center;
  }
  #cryptoButton3 {
    display: initial;
    width: 400px;
    height: 55px !important;
  }
  #dashPic6box {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }
  #dashPic6 {
    display: initial;
    height: 315px !important;
    width: 550px !important;
    background-image: url("../../../public/cryptoHome1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #184d47;
    border-radius: 0.5rem;
  }
  #dashBoxPic4 {
    padding-bottom: 0 !important;
    padding-left: 20px;
  }
  #dashPic4 {
    width: 275px !important;
    display: none;
    height: 250px !important;
  }
  #cryptoButton1 {
    width: 420px;
    height: 55px !important;
    display: none;
  }
  #cryptoButton2 {
    display: none;
  }
  #mainfeaturesbox {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
  }
  #friendlyUI {
    font-size: 2rem;
    width: 400px;
  }
  #friendlyUIDesc {
    font-size: 1.3rem;
    width: 400px;
  }
  #allInOne {
    font-size: 2rem;
    width: 400px;
  }
  #allInOneDesc {
    font-size: 1.3rem;
    width: 400px;
  }
}

@media (min-width: 1024px) {
  #typewrite {
    font-size: 5rem;
  }
  #smartmockup {
    height: 315px !important;
    width: 500px !important;
    margin-top: 50px !important;
    background-size: cover !important;
  }
  #sentence2 {
    font-size: 3rem;
  }
  #sentence3 {
    width: 350px;
    font-size: 1.3rem !important;
  }
  #signUpBox {
    padding-top: 60px !important;
  }
  #signUpContent {
    padding-right: 300px;
    padding-left: 300px;
  }
  #signUpButton1 {
    display: initial;
    width: 400px !important;
    height: 55px !important;
  }
  #typographyBox1 {
    width: 450px;
    padding-left: 25px;
    padding-top: 24px;
    padding-right: 50px;
  }

  #forexAndDashboard {
    flex-direction: row !important;
    justify-content: center !important;
  }
  #forexExplanation {
    padding-left: 25px !important;
    width: 400px;
    margin: 0;
    font-size: 1.2rem !important;
  }
  #forexFeatureExplanation1 {
    font-size: 1.2rem !important;
  }
  #dashPic1 {
    display: none;
    height: 315px !important;
    width: 400px !important;
  }
  #secondsection {
    height: 2250px !important;
  }

  #cryptoAndDashboard {
    padding-top: 70px !important;
    flex-direction: row !important;
    justify-content: center !important;
  }
  #cryptoExplanation {
    padding-left: 25px !important;
    width: 400px;
    margin: 0;
    font-size: 1.2rem !important;
  }
  #cryptoFeatureExplanation1 {
    font-size: 1.2rem !important;
  }
  #dashBoxPic4 {
    padding-left: 20px;
  }
  #dashPic4 {
    display: none;
    height: 315px !important;
    width: 400px !important;
  }

  #dashPic6 {
    display: initial;
    height: 415px !important;
    width: 650px !important;
  }
  #dashPic5 {
    display: initial;
    height: 415px !important;
    width: 650px !important;
  }
  #friendlyUI {
    font-size: 2rem;
    width: 500px;
  }
  #friendlyUIDesc {
    font-size: 1.3rem;
    width: 500px;
  }
  #allInOne {
    font-size: 2rem;
    width: 500px;
  }
  #allInOneDesc {
    font-size: 1.3rem;
    width: 500px;
  }
}
@media (min-width: 1281px) {
  #secondsection {
    height: 1400px !important;
  }
  #smartmockup {
    height: 415px !important;
    width: 700px !important;
    background-size: cover;
  }
  #forexAndDashboard {
    flex-direction: row !important;
    justify-content: center !important;
  }
  #dashPic1 {
    margin-right: 20px;
    display: initial;
    height: 415px !important;
    width: 650px !important;
    background-image: url("../../../public/forexHome1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #184d47;
    border-radius: 0.5rem;
  }
  #cryptoAndDashboard {
    flex-direction: row !important;
    justify-content: center !important;
  }
  #dashPic4 {
    display: initial;
    height: 415px !important;
    width: 650px !important;
    background-image: url("../../../public/cryptoHome1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #184d47;
    border-radius: 0.5rem;
  }
  #dashPic6 {
    display: none;
  }
  #dashPic5 {
    display: none;
  }
  #friendlyUI {
    font-size: 2rem;
    width: 500px;
  }
  #friendlyUIDesc {
    font-size: 1.3rem;
    width: 500px;
  }
  #allInOne {
    font-size: 2rem;
    width: 500px;
  }
  #allInOneDesc {
    font-size: 1.3rem;
    width: 500px;
  }
}
