@media (min-width: 375px) {
  #textabtus {
    width: 328px !important;
  }
  #textabtus-2 {
    width: 328px !important;
  }
  #textabtus-3 {
    width: 328px !important;
  }

  #iconabtus {
    width: 380px !important;
    justify-content: center !important;
  }
}

@media (min-width: 425px) {
  #textabtus {
    width: 355px !important;
  }
  #textabtus-2 {
    width: 355px !important;
  }
  #textabtus-3 {
    width: 355px !important;
  }

  #iconabtus {
    width: 380px !important;
    justify-content: center !important;
  }
}

@media (min-width: 540px) {
  #textabtus {
    width: 405px !important;
  }
  #textabtus-2 {
    width: 405px !important;
  }
  #textabtus-3 {
    width: 405px !important;
  }

  #iconabtus {
    width: 380px !important;
    justify-content: center !important;
  }
}

@media (min-width: 768px) {
  #aboutusmainsection {
    justify-content: center !important;
  }
  #aboutustitlebox {
    padding: 0 !important;
  }
  #aboutustitlebox-2 {
    padding: 1em 0 0 0 !important;
  }
  #aboutustitlebox-3 {
    padding: 1em 0 0 0 !important;
  }
  #aboutustitlebox-4 {
    padding: 1em 0 0 0 !important;
    text-align: center !important;
  }
  #textabtus {
    width: 650px !important;
    font-size: 20px !important;
    text-align: center !important;
  }
  #textabtus-2 {
    width: 650px !important;
    font-size: 20px !important;
    text-align: center !important;
  }
  #textabtus-3 {
    width: 650px !important;
    text-align: center !important;
    font-size: 20px !important;
  }

  #iconabtus {
    width: 550px !important;
    justify-content: center !important;
  }
}
