@media (min-width: 0px) {
  #aboutussection {
    background: linear-gradient(
      0deg,
      #184d47 3%,
      #184d47 90%,
      #164645 calc(40% + 1px),
      #164645 93%,
      rgb(23, 185, 120) calc(60% + 1px),
      rgb(23, 185, 120) 96%,
      #cff4d2 calc(68% + 1px),
      #cff4d2 100%
    );
  }
}

@media (min-width: 320px) {
}

@media (min-width: 480px) {
  #aboutuscontentbox {
    width: 380px !important;
  }
}

@media (min-width: 600px) {
  #aboutustitle {
    font-size: 3.5rem;
  }

  #aboutuscontentbox {
    width: 480px !important;
  }
  #aboutuscontent {
    font-size: 1.2rem;
  }
}

@media (min-width: 750px) {
  #aboutustitlebox {
    padding-top: 120px !important;
  }
  #aboutuscontentbox {
    width: 600px !important;
  }
}

@media (min-width: 1024px) {
  #aboutustitle {
    font-size: 4rem !important;
  }
  #aboutustitlebox {
    padding-top: 120px !important;
  }
  #aboutuscontentbox {
    width: 700px !important;
  }
  #aboutuscontent {
    font-size: 1.3rem !important;
  }
}
@media (min-width: 1281px) {
}
