@media (min-width: 0px) {
  #errorbox2 {
    background: linear-gradient(
      0deg,
      #cff4d2 3%,
      #cff4d2 90%,
      #164645 calc(40% + 1px),
      #164645 93%,
      rgb(23, 185, 120) calc(60% + 1px),
      rgb(23, 185, 120) 96%,
      #cff4d2 calc(68% + 1px),
      #cff4d2 100%
    );
  }
}

@media (min-width: 320px) {
}

@media (min-width: 480px) {
  #errorbox2 {
    width: 400px !important;
  }
}

@media (min-width: 600px) {
  #errorbox2 {
    width: 500px !important;
  }
  #errorcode {
    font-size: 8rem;
  }
}

@media (min-width: 750px) {
  #errorbox2 {
    width: 600px !important;
  }
  #errorcode {
    font-size: 10rem;
  }
  #errormessage {
    font-size: 4.5rem;
  }
  #errorbox4 {
    width: 600px !important;
    background-image: url("../../../public/t-rex3.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: 1024px) {
  #errorbox2 {
    width: 900px !important;
  }
  #errorbox4 {
    width: 900px !important;
    background-image: url("../../../public/t-rex3.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  #errorcode {
    font-size: 12rem;
  }
  #errorbox3 {
    width: 500px !important;
  }
  #errorbutton {
    width: 300px;
    height: 50px;
  }
}
@media (min-width: 1281px) {
}
